* {
    margin: 0;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
@media screen and (max-width: 750px){

}


body {
    Background: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;

}
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

h1 {
   
    color: #fff;
   font-size: 40px;
}

img {
  width: 300px;
  height: 250px;
   
}
input {
    background: rgb(64, 64, 64);
    width:232px;
    height: 54px;
    border-radius: 24px;
    Border: 1px solid #fff;
    color: #fff;
    font-size: 40px;
    line-height: 48.6px;
    padding: 30px; 
    font-weight: bolder;
    margin-left: 10px;
    
}
#result{
    width: 100%;
  display: flex;
  justify-content: center;
}

p{
    width: 100px;
    height: 100px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 58px;
    font-weight: bolder;

    background-color: white;
    border-radius: 50%;

}

button {
    background-color: #AEC346;
    Width: 172px;
    Height: 52px;
    left: 849px;
    font-size: 40px;
    border-radius: 10px;
    color: #fff;
    margin-left: 10px;
 
   
}
.btn{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
button:hover {
     opacity: 0.9;
}

button:active {
    opacity: 0.8;
}


@media screen and (max-width: 750px){
    img {
        width: 393px;
        height: 361px;
        margin-top: 48px;
    }
    input{
        margin: 5px 0 0 10px ;
        width: 203px;
        
    }
    button{
        margin: 10px 0 0 10px ;
        width: 191px;
    }
    p {
        width: 131px;
        height: 118px;
        color: red;
       margin: 10px 0 0 0;

}
}
@media screen and (max-width:400px){
    
img {
    width: 305px;
    height: 300px;
    margin-top: 49px;
}

h1 {
    color: #fff;
    font-size: 33px;}
    input {
        margin: 5px 0 0 10px;
        width: 159px;

}
 button{
    width: 160px;
 }
p{

    width: 127px;
    height: 114px;
    color: red;
    margin: 10px 0px 0px;

}

}









